header h1 {
	background: url(https://media.giphy.com/media/3oEduMhFrYvKk4giac/giphy.gif) left / auto 100% no-repeat, url(https://media.giphy.com/media/3oEduMhFrYvKk4giac/giphy.gif) right / auto 100% no-repeat;
}

.root {
	font-size: larger;
}

img.main-image {
	width: 300px;
}

img.additional-image {
	width: 180px;
}